/**
 * This file overrides styles specified in the MaterializeCSS stylesheet.
 */

/********* NAVIGATION *********/
nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-image: linear-gradient(90deg, dodgerblue, cyan) 60;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #0091ea;
}

/********* GENERAL *********/

.fluid {
  width: 100%;
}

.compact {
  padding: 0;
  margin: 0;
}

.table-compact td {
  padding: 0.3em 1em;
}

.table-compact th {
  padding: 0.9em;
}

.inline-icon {
  padding: -1em;
}

.text-heavier {
  font-weight: 600;
}

.icon-subset {
  position: relative;
}

.sub-icon {
  position: absolute;
  top: -10px !important;
  right: -10px !important;
}

.sub-icon i {
  font-size: 15px;
}

.semi-compact {
  margin: 0;
  padding: 0.5em;
}

.semi-compact-top {
  margin-top: 0;
  padding-top: 0.5em;
}

.semi-compact-left {
  margin-left: 0;
  padding-left: 0.5em;
}

.semi-compact-right {
  margin-right: 0;
  padding-right: 0.5em;
}

/********* LANDING PAGE *********/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/********* USERFEED *********/
.user-feed-content {
  max-height: 20em;
  overflow: hidden;
}

.user-feed-info-content {
  min-height: 14.6em;
}

.user-feed-notifications-content {
  height: 14.6em;
}

.user-feed-notifications-wrapper {
  height: 10em;
  background-color: white;
}

.user-feed-notifications {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
}

/********* EVENTFEED *********/
.event-card-image {
  min-width: 5em;
  height: 100%;
  border-radius: 3px 0 0 3px;
}

.event-card-calendar-wrapper {
  width: 4em;
  height: 5em;
  margin: auto;
  padding: 20px auto;
  border-radius: 3px;
}

.event-card-calendar-wrapper-small {
  width: 3em;
  height: 2.5em;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.event-card-calendar-title {
  width: 100%;
  background-color: #0091ea;
  text-align: center;
  color: white;
  border-radius: 3px 3px 0 0;
  border: 1px solid #0277bd;
}

.event-card-calendar-title-small {
  font-size: 0.8em;
  width: 100%;
  background-color: #0091ea;
  text-align: center;
  color: white;
  border-radius: 3px 3px 0 0;
  border: 1px solid #0277bd;
}

.event-card-calendar-title p {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.event-card-calendar-text {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.event-card-calendar-text h4 {
  margin: 0;
  padding: 1em auto;
}

.event-card-calendar-text h2 {
  margin: 0;
  padding: 0.5em auto;
}

.event-card-badge {
  border-radius: 2px;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.5em;
  display: inline;
  position: relative;
}

/********* EVENT DETAILS *********/
.event-details-title {
  margin: 0;
}

.event-info-table-wrapper h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.event-info-notification-settings {
  padding: 0.8em 0.5em;
}

.participant-table-wrapper {
  position: relative;
  height: 100%;
}

.participant-table-wrapper table {
  border: 1px solid lightgrey;
}

.participant-table-wrapper h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.participant-buttons button {
  margin-top: 0.99em;
}

@media only screen and (max-width: 450px) {
  .participant-buttons button {
    width: 100%;
  }
}

.add-participant-wrapper {
  height: 100%;
  width: 100%;
}

/********* FOOTER *********/
footer.page-footer {
  margin: 0;
}
